[submodule "hl2sdk-cs2"]
	path = hl2sdk-cs2
	url = git@github.com:alliedmodders/hl2sdk.git
	branch = cs2
[submodule "metamod-source"]
	path = metamod-source
	url = git@github.com:alliedmodders/metamod-source.git
[submodule "ambuild"]
	path = ambuild
	url = git@github.com:alliedmodders/ambuild.git
